<footer class="gdoc-footer">
    <nav class="container flex">
        <div>
            <section class="flex flex-wrap align-center">
                <span class="gdoc-footer__item gdoc-footer__item--row">
                    Operated by the <a href="https://madsp.cs.wisc.edu/">Madison Security and Privacy Research Group</a>
                    at the <a href="https://www.wisc.edu/">University of Wisconsin–Madison</a>.
                </span>
            </section>
            <section class="flex flex-wrap align-center">
                <span class="gdoc-footer__item">
                    Contact: <a href="https://yohan.beugin.org">Yohan Beugin</a> (<a
                        href="mailto:yohan@beugin.org">yohan@beugin.org</a>)
                </span>
            </section>
        </div>
        {{ if (default true .Site.Params.GeekdocBackToTop) }}
        <div class="flex flex-25 justify-end">
            <span class="gdoc-footer__item text-right">
                <a class="gdoc-footer__link fake-link" href="#" aria-label="{{ i18n " nav_top" }}">
                    <svg class="gdoc-icon gdoc_keyboard_arrow_up">
                        <use xlink:href="#gdoc_keyboard_arrow_up"></use>
                    </svg>
                    <span class="hidden-mobile">{{ i18n "nav_top" }}</span>
                </a>
            </span>
        </div>
        {{ end }}
    </nav>
</footer>
