<iframe width="100%" frameborder="0" src="{{.Get " specifier" }}"></iframe>
<script>
    (function () {
        let s = document.querySelectorAll('script');
        let script = s[s.length - 1];
        let iframe = script.previousElementSibling;
        window.addEventListener("message", (e) => {
            if (e.origin === 'https://observablehq.com'
                && e.source === iframe.contentWindow) {
                const msg = JSON.parse(e.data)
                if (msg.context === 'iframe.resize') {
                    iframe.height = msg.height;
                }
            }
        });
    })();
</script>